/* Parallel-flow demo css */
:root {
  --pagedjs-baseline: 16px;
}

section {
  width: 134 !important;
  height: 186mm !important;
  p:first-child {
    margin-top: 0;
  }
}

@font-face {
  font-family: AntiqueSerie;
  src: url('./fonts/AntiqueSerie-Regular.woff');
}

section p {
  margin: 0;
}

@page {
  margin-top: 15mm;
  margin-bottom: 29mm;
  size: 170mm 240mm;
  @bottom-center {
    content: counter(page);
    font-family: 'Times New Roman', Times, serif;
    font-size: 9.5pt;
    align-self: flex-start;
    padding-top: 1em;
  };
}

@page:right{
  margin-left: 15mm;
  margin-right: 21mm;
  @top-center {
    content: 'E';
    text-align: center;
    font-family: AntiqueSerie;
    font-size: 9pt;
  }
}

@page:left{
  margin-left: 21mm;
  margin-right: 15mm;
  @top-center {
    content: 'F';
    text-align: center;
    font-family: AntiqueSerie;
    font-size: 9pt;
  }
}

@page:nth(1){
  @bottom-center {
    content:'';
  }
  @top-center{
    content: "";
  };
}
@page:nth(2){
  @bottom-center {
    content:'';
  }
  @top-center{
    content: "";
  };
}
@page:nth(3){
  @bottom-center {
    content:'';
  }
  @top-center{
    content: "";
  };
}
@page:nth(5){
  @bottom-center {
    content:'';
  }
  @top-center{
    content: "";
  };
}
@page:nth(4){
  @bottom-center {
    content:'';
  }
  @top-center{
    content: "";
  };
}

section.a {
  /*parallel-flow: name,  this will trigger the parallel-flow script*/
  --parallel-flow: beta;

  page: section-a;
  /* color: blue; */
  color: black;
  /* margin-left: 0; */
}

section.c {
  /* color: rgb(0, 128, 124); */
  color: black;
  /* width: calc(45% - 2ch); */
  /* margin-left: auto; */
  top: 0 !important;
  --parallel-flow: beta;
}

section.b {
  /* --parallel-flow: alpha; */
}

section.d {
  /* --parallel-flow: alpha; */
  margin-left: auto;
  top: 0 !important;
}

h2 {
  margin-top: 0;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16.5pt;
  line-height: 7mm;
}

section {
  break-before: page;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;

}

h1 {
  font-family: AntiqueSerie;
  font-size: 8.5pt;
  text-transform: uppercase;
}

h4 {
  font-family: AntiqueSerie;
  font-size: 8pt;
  break-after: always;
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}

h3 {
  display: flex;
  font-style: italic;
  justify-content: center;
  width: 100%;
  font-size: 16.5pt;
  font-weight: 400;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.c h3 {
  /* text-transform: capitalize; */
}

h3:first-of-type {
  margin-top: 0;
}

.force-break {
  break-before: always;
}

.footnotes {
  break-before: always;
}

.footnotes li::marker {
  font-size: 6.5pt;
}

.footnotes p {
  font-size: 7.5pt;
  line-height: 3mm;
}

#fig_1_fr {
  width: 134mm;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 7pt;
}

.footnote-backref {
  display: none;
}

blockquote p{
  width: 105%;
}

.footnote-ref {
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.6em;
  vertical-align: super;
  line-height: 0;
  color: #000000;
  font-weight: bold;
  /* margin-left: -3px; */
}

ol {
  margin: 0;
}