/* Parallel-flow demo css */
:root {
  --pagedjs-baseline: 16px;
}

section {
  width: 134mm !important;
  height: 185mm !important;
  p:first-child {
    margin-top: 0;
  }
}

@font-face {
  font-family: AntiqueSerie;
  src: url('./fonts/AntiqueSerie-Regular.woff');
}

@font-face {
  font-family: cmuntb;
  src: url('./fonts/cmuntb.ttf');
}

section p {
  margin: 0;
}

@page {
  margin-top: 15mm;
  margin-bottom: 29mm;
  size: 170mm 240mm;
  @bottom-center {
    content: counter(page);
    font-family: 'Times New Roman', Times, serif;
    font-size: 9.5pt;
    align-self: flex-start;
    padding-top: 1em;
  };
  @top-center {
    text-align: center;
    font-family: AntiqueSerie;
    font-size: 9pt;
  }
}


section.a {
  /*parallel-flow: name,  this will trigger the parallel-flow script*/
  --parallel-flow: beta;

  page: section-a;
  /* color: blue; */
  color: black;
  /* margin-left: 0; */
}

section.c {
  /* color: rgb(0, 128, 124); */
  color: black;
  /* width: calc(45% - 2ch); */
  /* margin-left: auto; */
  top: 0 !important;
  --parallel-flow: beta;
}

h2 {
  margin-top: 0;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16.5pt;
  line-height: 7mm;
}

section {
  break-before: page;
}

#title {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  justify-content: center;
  gap: 15mm;
}

h1 {
  font-family: AntiqueSerie;
  font-size: 8.5pt;
  text-transform: uppercase;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

h1 .footnote-ref{
  font-family: AntiqueSerie;
}

h3 {
  display: flex;
  font-style: italic;
  justify-content: center;
  width: 100%;
  font-size: 16.5pt;
  font-weight: 400;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;

  
  line-height: 7mm;
  margin-top: 7mm;
  margin-bottom: 7mm;
}

h4 {
  font-family: AntiqueSerie;
  font-size: 8pt;
  break-after: always;
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}

.force-break {
  break-before: always;
}

.span_right {
  position: absolute;
  right: 7mm;
}

.footnotes {
  break-before: always;
}

.footnotes li::marker {
  font-size: 9.5pt;
}

.footnotes p {
  font-size: 9.5pt;
  line-height: 4mm;
}

#fig_1_fr {
  width: 134mm;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 7pt;
}

.footnote-backref {
  display: none;
}

blockquote p{
  width: 105%;
}

.footnote-ref {
  font-family: 'Times New Roman', Times, serif;
  font-size: .6em;
  vertical-align: super;
  line-height: 0;
  color: #000000;
  font-weight: bold;
  /* margin-left: -3px; */
}

ol {
  margin: 0;
}

pre {
  transform-origin: center;
  transform: rotate(-90deg) scale(1.5) ;
  display: flex;
  height: 185mm;
  width: 100%;
  align-items: center;
  justify-content: center;
  break-after: always;
  break-before: always;
}

code {
  font-family: cmuntb;
  font-size: 9.5pt;
}

blockquote {
  margin: 0 0 0 6mm;
}

ol.footnotes-list {
  margin-top: 7mm;
  padding-inline-start: 10px;
  /* background-color: red; */
}

.page_redirect {
  font-family: cmuntb;
  font-weight: 600;
  font-size: 16.5pt;
  line-height: 7mm;
  margin-bottom: 7mm;
  margin-left: 7mm;
}


/* Even pages from 6 to 32 with content "E" */
@page:nth(2) {
  margin-left: 21mm;
  margin-right: 15mm;
  @bottom-center {
    content:'';
  }
  @top-center{
    content: "";
  };
}

@page:nth(4) {
  margin-left: 21mm;
  margin-right: 15mm;
  @bottom-center {
    content:'';
  }
  @top-center{
    content: "";
  };
}

@page:nth(6) {
  margin-left: 21mm;
  margin-right: 15mm;
  @top-center {
    content: "E";
  }
}

@page:nth(8) { 
  margin-left: 21mm;
  margin-right: 15mm;
  @top-center {
    content: "E";
  }
}

@page:nth(10) { 
  margin-left: 21mm;
  margin-right: 15mm;
  @top-center {
    content: "E";
  }
}

@page:nth(12) { 
  margin-left: 21mm;
  margin-right: 15mm;
  @top-center {
    content: "E";
  }
}

@page:nth(14) { 
  margin-left: 21mm;
  margin-right: 15mm;
  @top-center {
    content: "E";
  }
}

@page:nth(16) { 
  margin-left: 21mm;
  margin-right: 15mm;
  @top-center {
    content: "E";
  }
}

@page:nth(18) { 
  margin-left: 21mm;
  margin-right: 15mm;
  @top-center {
    content: "";
  }
}

@page:nth(20) { 
  margin-left: 21mm;
  margin-right: 15mm;
  @top-center {
    content: "E";
  }
}

@page:nth(22) { 
  margin-left: 21mm;
  margin-right: 15mm;
  @top-center {
    content: "E";
  }
}

@page:nth(24) { 
  margin-left: 21mm;
  margin-right: 15mm;
  @top-center {
    content: "E";
  }
}

@page:nth(26) { 
  margin-left: 21mm;
  margin-right: 15mm;
  @top-center {
    content: "E";
  }
}

@page:nth(28) { 
  margin-left: 21mm;
  margin-right: 15mm;
  @top-center {
    content: "E";
  }
}

@page:nth(30) { 
  margin-left: 21mm;
  margin-right: 15mm;
  @top-center {
    content: "E";
  }
}

@page:nth(32) { 
  margin-left: 21mm;
  margin-right: 15mm;
  @top-center {
    content: "E";
  }
}

@page:nth(34) { 
  margin-left: 21mm;
  margin-right: 15mm;
}

@page:nth(36) { 
  margin-left: 21mm;
  margin-right: 15mm;
}

/* Odd pages from 7 to 33 with content "F" */
@page:nth(1) { 
  margin-left: 15mm;
  margin-right: 21mm;
  margin-bottom: 39mm;
  @bottom-center {
    content:'';
  }
  @top-center{
    content: "";
  };
}

@page:nth(3) { 
  margin-left: 15mm;
  margin-right: 21mm;
  @bottom-center {
    content:'';
  }
  @top-center{
    content: "";
  };
}

@page:nth(5) { 
  margin-left: 15mm;
  margin-right: 21mm;
  @bottom-center {
    content:'';
  }
  @top-center{
    content: "";
  };
}

@page:nth(7) { 
  margin-left: 15mm;
  margin-right: 21mm;
  @top-center {
    content: "F";
  }
}

@page:nth(9) { 
  margin-left: 15mm;
  margin-right: 21mm;
  @top-center {
    content: "F";
  }
}

@page:nth(11) { 
  margin-left: 15mm;
  margin-right: 21mm;
  @top-center {
    content: "F";
  }
}

@page:nth(13) { 
  margin-left: 15mm;
  margin-right: 21mm;
  @top-center {
    content: "F";
  }
}

@page:nth(15) { 
  margin-left: 15mm;
  margin-right: 21mm;
  @top-center {
    content: "F";
  }
}

@page:nth(17) { 
  margin-left: 15mm;
  margin-right: 21mm;
  @top-center {
    content: "F";
  }
}

@page:nth(19) { 
  margin-left: 15mm;
  margin-right: 21mm;
  @top-center {
    content: "";
  }
}

@page:nth(21) { 
  margin-left: 15mm;
  margin-right: 21mm;
  @top-center {
    content: "F";
  }
}

@page:nth(23) { 
  margin-left: 15mm;
  margin-right: 21mm;
  @top-center {
    content: "F";
  }
}

@page:nth(25) { 
  margin-left: 15mm;
  margin-right: 21mm;
  @top-center {
    content: "F";
  }
}

@page:nth(27) { 
  margin-left: 15mm;
  margin-right: 21mm;
  @top-center {
    content: "F";
  }
}

@page:nth(29) { 
  margin-left: 15mm;
  margin-right: 21mm;
  @top-center {
    content: "F";
  }
}

@page:nth(31) { 
  margin-left: 15mm;
  margin-right: 21mm;
  @top-center {
    content: "F";
  }
}

@page:nth(33) { 
  margin-left: 15mm;
  margin-right: 21mm;
  @top-center {
    content: "F";
  }
}