section {
    break-before: page;
}

section.a {
    /*parallel-flow: name,  this will trigger the parallel-flow script*/
    --parallel-flow: beta;

    page: section-a;
    color: blue;
    margin-left: 0;
    width: 48%;
}

section.c {
    top: 0px !important;
    width: 48%;
    margin-left: auto;
    --parallel-flow: beta;
}

h3 {
    /*  */
    /* --parallel-break: all; */

    /* --parallel-flow: beta; */
    /* --parallel-break: all; */
}

section.b {
    /*parallel-flow: name,  this will trigger the parallel-flow script*/
    /* --parallel-flow: alpha; */

    font-size: 12pt;
    page: section-b;
    border-right: 2px solid rgb(0, 255, 13);
    width: 45%;
    margin-left: auto;
}

section.d {
    /*parallel-flow: name,  this will trigger the parallel-flow script*/
    /* --parallel-flow: alpha; */
    width: calc(20% - 2ch);
    padding-top: 8em;
    color: purple;
}

section.d h1 {
    break-before: page;
}

section p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
}