/* Parallel-flow demo css */
:root {
  --pagedjs-baseline: 16px;
}

section {
  width: 48mm !important;
  height: 116mm !important;
  p:first-child {
    margin-top: 0;
  }
}

@font-face {
  font-family: AntiqueSerie;
  src: url('./fonts/AntiqueSerie-Regular.woff');
}

@font-face {
  font-family: cmuntb;
  src: url('./fonts/cmuntb.ttf');
}

section p {
  margin: 0;
}

@page {
  margin-top: 15mm;
  margin-bottom: 20mm;
  size: 240mm 170mm;
  @bottom-center {
    content: counter(page);
    font-family: 'Times New Roman', Times, serif;
    font-size: 9.5pt;
    align-self: flex-start;
    padding-top: 1em;
  };
  @top-center {
    content: 'F E D I';
    text-align: center;
    font-family: AntiqueSerie;
    font-size: 9pt;
    letter-spacing: 0.2em;
    word-spacing: 15.5em;
  }
}

@page:right{
  margin-left: 15mm;
  margin-right: 21mm;
}

@page:left{
  margin-left: 21mm;
  margin-right: 15mm;
}

@page:nth(1){
  @bottom-center {
    content:'';
  }
  @top-center{
    content: "";
  };
}
@page:nth(2){
  @bottom-center {
    content:'';
  }
  @top-center{
    content: "";
  };
}
@page:nth(3){
  @bottom-center {
    content:'';
  }
  @top-center{
    content: "";
  };
}

section.a {
  /* Francais */
  --parallel-flow: beta;

  page: section-a;
  /* color: blue; */
  color: black;
  margin-left: 0;
}

section.c {
  /* Italien */
  color: black;
  margin-left: auto;
  top: 0 !important;
  --parallel-flow: beta;
}

section.b {
  /* English */
  --parallel-flow: beta;
  margin-left: 51mm;
  top: 0 !important;
}

section.d {
  /* Deustch */
  --parallel-flow: beta;
  margin-left: 104mm;
  top: 0 !important;
}

code {
  font-family: cmuntb;
  margin-top: 4mm;
  margin-bottom: 4mm;
  font-size: 9.5pt;
}

blockquote {
  margin: 0 0 0 6mm;
}


h2 {
  margin-top: 0;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 8pt;
  line-height: 3.4mm;
}

section {
  break-before: page;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;

}

h1 {
  font-family: AntiqueSerie;
  font-size: 8.5pt;
  text-transform: uppercase;
}

h4 {
  font-family: AntiqueSerie;
  font-size: 8pt;
  break-after: always;
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}

h3 {
  display: flex;
  font-style: italic;
  justify-content: center;
  width: 100%;
  font-size: 9pt;
  font-weight: 400;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

h3:first-of-type {
  margin-top: 0;
}

.force-break {
  break-before: always;
}

.footnotes {
  break-before: always;
}

.footnotes li::marker {
  font-size: 6.5pt;
}

.footnotes p {
  font-size: 7.5pt;
  line-height: 3mm;
}

#fig_1_fr {
  --parallel-impact: all;
  width: 200mm;
}

#fig_1_fr code {
  font-size: 15.5pt;
}

blockquote p{
  width: 105%;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 7pt;
}

.footnote-backref {
  display: none;
}

blockquote p{
  width: 105%;
}

.footnote-ref {
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.6em;
  vertical-align: super;
  line-height: 0;
  color: #000000;
  font-weight: bold;
  /* margin-left: -3px; */
}

ol.footnotes-list {
  margin-top: 4mm;
  padding-inline-start: 10px;
  /* background-color: red; */
}

.span_right {
  position: absolute;
  right: 7mm;
}

.title-note {
  font-family: AntiqueSerie;
  font-size: 9.5pt;
  display: block;
  position: absolute;
  width: 65mm;
  bottom: 0;
}

#title {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  text-align: center;
  gap: 15mm;
}